
.backcol{
  background-color: #b5b5b7;
}

.navbar {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0.3%;
  padding-bottom: 0.3%;

  border: 0px;
  border-radius: 0;
  border-color: #252839 !important ;
  border-width: 0 0 1px;

  font-size: 115% !important;
  letter-spacing: 2px;
  background-color: #252839 !important ;
  color: #ffffff !important;
}

.navbar-nav  li a:hover {
    color: #fff !important;
    background-color: #FF6959 !important;
  }

.active-but{
    background-color: #3c415d;
}

.texx{
  color: #f2b632 !important;
  font-size: 160% !important;
  letter-spacing: 3px;
  font-family: 'Kaushan Script', cursive;
  background-color: #000000 !important;
}

.topbuttons{
  color:#ffffff !important;
  font-size: 70% !important;
}

.maincontents{
  padding-top: 50px !important;
}

.dottext {
  color: #000000 !important;
  bottom: 32% !important;
}

.coro {
  margin-bottom: 1.5% !important;
}

.bottom-buttons {
  background-color: #252839 !important;
  color: #f2b632 !important;
    border-radius: 0px !important;

 }

.pressbutton :hover {
  color: #252839 !important;
  background-color: #f2b632 !important;
}

.active-but{
  background-color: #3c415d;
}

 body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }

  p {font-size: 16px;}

  .margin {margin-bottom: 45px;}

  .margin-top{margin-top: 5%;}

  .btn .btn-primary .btn-lg .btn-block{
    border-radius: 0px !important;
    background-color: #252839 !important;
    color: #f2b632;
  }

  .bg-1 {

      background-color: #FF6959; /* Green */
      color: #ffffff;
      margin: 1.5% ;
      padding: 1% !important;
      border-style:solid !important;
      border-color:#b5b5b7 !important;
     /* border-left-width:500% !important;
      border-right-width: 500% !important;*/
  }

  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      margin: 1.5% ;
      padding: 2% !important;
      border-style:solid !important;
      border-color:#b5b5b7 !important;
     /* border-left-width:40px !important;
      border-right-width: 40px !important;*/
  }
  .bg-3 {
          margin: 1.5% ;
      padding: 2% !important;
      border-style:solid !important;
      border-color:#b5b5b7 !important;
      border-left-width:20px !important;
      border-right-width: 20px !important;
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
      padding: 2% !important;
      /*padding-top: 2% !important;*/
  }

  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .videobox{
    color: #000;
    background-color: #d9d9d9  !important;
    padding: 1%;
    padding-top: 5%;
     border: 2px solid #fff;
    margin-top: 3%;
  }
